.container-fluid{
    background-color: darkgrey;
    border-radius: 10px;
    border-color: aqua;
    align-self: aut;
    
}
/* .card {display:inline-block;} */

.card-title{
    background-color: beige;
}

.card{
    margin:40px;
}
